@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.animate-fade {
    animation: fadeIn 0.5s ease-in-out;
}

:root {
    --bg-dark: hsl(228 79% 2%);
    --bg: hsl(222 55% 5%);
    --bg-light: hsl(220 35% 10%);
    --text: hsl(220 100% 98%);
    --text-muted: hsl(220 35% 73%);
    --highlight: hsl(220 20% 42%);
    --border: oklch(0.922 0 0);
    --border-muted: hsl(220 37% 20%);
    --primary: oklch(0.205 0 0);
    --secondary: oklch(0.97 0 0);
    --danger: hsl(9 26% 64%);
    --warning: hsl(52 19% 57%);
    --success: hsl(146 17% 59%);
    --info: hsl(217 28% 65%);

    background-color: var(--bg);
    font-family: "Bricolage Grotesque", sans-serif;
    color: var(--text);
    padding: 20px;
}
